.header {
  background-color: rgb(5, 5, 10);
  color: rgb(53, 168, 71);
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-around;

  position: sticky;
  top: 0;
}
.header-icon {
  padding: 5px;
  color: black;
  background-color: rgb(53, 168, 71);
  border-radius: 50px;
}
.right-header {
  padding: 5px;
  border-radius: 25px;
  border: 1px solid rgb(53, 168, 71);
}
.right-header:hover {
  border-color: rgb(79, 167, 92);
  background-color: rgb(126, 122, 122);
  transform: scale(1.5);
  transition: transform 2s ease-in-out;
}
.header-icon:hover {
  border-color: rgb(79, 167, 92);

  transform: scale(1.5);
  transition: transform 2s ease-in-out;
}
main {
  background-color: rgb(11, 11, 16);
  width: 100%;

  display: grid;
  grid-template-columns: repeat(12, 1fr);

  grid-template-rows: minmax(0, auto);
}
.first-g {
    position: relative;
  background-color: rgb(20, 15, 30);
  display: grid;
  justify-self: stretch;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column: 2/12;
  grid-row: 1/10;
  border: .5px solid rgb(15, 20, 28);
  border-radius: 50px;
}
.radar {
  border-radius: 150px;
  justify-self: stretch;
  background-color: beige;
  grid-row: 2/10;
  grid-column: 2/5;
}
.f-1{
    font-size: 40px;
    color: rgb(38, 207, 77);
 grid-row: 2/4;
 grid-column: 7;   
 justify-self: stretch;
 place-self: center;
}
.f-2{
        font-size: 15px;
    color: rgb(63, 57, 70);
 grid-row: 4/5;
 grid-column: 7/9;   
 justify-self: stretch;
 align-self:flex-start;
}
.f-3{
    font-size: 40px;
    color: rgb(38, 207, 77);
 grid-row: 5/6;
 grid-column: 7;   
 justify-self: stretch;
 place-self: center;
}
.f-4{
        font-size: 15px;
    color: rgb(63, 57, 70);
 grid-row: 6/7;
 grid-column: 7;   
 justify-self: center;
 align-self:flex-start;
}


.first-g:hover{
border-color: rgb(79, 167, 92);

  transition: transform 5s ease-in-out 5s;
}

.button-1{
    font-size: 15px;
    margin-top: 25px;
    padding: 10px;
    border-radius: 50px;
    background-color:rgb(20, 15, 30);
    color: white;
    grid-row:13/14 ;
    grid-column: 2/4;
    justify-self:stretch;
    place-self: start;
}
.button-2{
        font-size: 15px;
    margin-top: 25px;
    padding: 10px;
    border-radius: 50px;
    background-color:rgb(20, 15, 30);
    color: white;
    grid-row:13/14 ;
    grid-column: 4/6;
    justify-self:stretch;
    place-self: start;
}
.button-3{
        font-size: 15px;
        margin-bottom: 25px;
    margin-top: 25px;
    padding: 10px;
    border-radius: 50px;
    background-color:rgb(20, 15, 30);
    color: white;
    grid-row:13/14 ;
    grid-column: 6/8;
    justify-self:stretch;
    place-self: start;
}
.hover-b:hover{
    border:3px solid rgb(45, 219, 71);
  transform: scale(1.5);

}


































































html {
  overflow: hidden;
  height: 100%;
}
.radar,
.sweep {
  position: absolute;
}
.radar {
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin: -117px;
  width: 248px;
  height: 248px;
  border-radius: 50%;
  box-shadow:
    0 0 0 1px hsla(0, 0%, 0%, 0.5),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
  background:
    repeating-radial-gradient(
      transparent 0 23px,
      #287a33 24px 26px,
      #0000 27px
    ),
    linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50%
      no-repeat,
    linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0)
      50% no-repeat,
    linear-gradient(#333, #111);
  background-size:
    100%,
    218px 218px,
    218px 218px,
    100%;
}
.sweep {
  box-sizing: border-box;
  top: 16px;
  left: 16px;
  border-right: solid 1px hsla(145, 50%, 40%, 0.3);
  width: 108px;
  height: 108px;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(
    50deg,
    rgba(34, 34, 34, 0) 56%,
    hsla(145, 50%, 40%, 1)
  );
  animation: sweep 5s infinite linear;
}
@keyframes sweep {
  to {
    transform: rotate(360deg);
  }
}
