.header{
    background-color: rgb(5, 5, 10);
    color: rgb(53, 168, 71);
    display: flex;
    width: 100%;
    height: 50px;
      align-items: center;
        justify-content: space-around;

        position: sticky;
          top: 0;
}
.header-icon{
    padding: 5px;
    color: black;
    background-color: rgb(53, 168, 71);
    border-radius: 50px
;
}
.right-header{
    padding: 5px;
    border-radius: 25px;
    border: 1px solid rgb(53, 168, 71);
}
.right-header:hover{
    border-color: rgb(79, 167, 92);
    background-color :rgb(126, 122, 122) ;
      transform: scale(1.5);
  transition: transform 2s ease-in-out;

}
.header-icon:hover{
    border-color: rgb(79, 167, 92);
        border-color: rgb(231, 236, 232);

      transform: scale(1.5);
  transition: transform 2s ease-in-out;

}